<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>572101092025-c79cn6im376f8blseedl6tfsgaq0h8f6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572101092025-c79cn6im376f8blseedl6tfsgaq0h8f6</string>
	<key>API_KEY</key>
	<string>AIzaSyDmVtWf-rMLXuK5mxK4P0sGwtaqhVvae94</string>
	<key>GCM_SENDER_ID</key>
	<string>572101092025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>moscow.worldskills</string>
	<key>PROJECT_ID</key>
	<string>worldskills-f6-1</string>
	<key>STORAGE_BUCKET</key>
	<string>worldskills-f6-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:572101092025:ios:ddcf875da88e2668</string>
	<key>DATABASE_URL</key>
	<string>https://worldskills-f6-1.firebaseio.com</string>
</dict>
</plist>
